<head>
  <title>moneytrack</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <meta
  name="viewport"
  content="minimum-scale=1, initial-scale=1, width=device-width"
/>
</head>

<body>
  <div id="react-target"></div>
</body>
